<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SportRanker" value="https://www.myget.org/F/sportranker/auth/5034e92d-54f7-4544-bbfc-1e4b99d80347/api/v3/index.json" />
  </packageSources>
</configuration>